[submodule "olfs"]
	path = olfs
	url = https://github.com/OPENDAP/olfs
	branch = master
[submodule "libdap4"]
	path = libdap4
	url = https://github.com/OPENDAP/libdap4
	branch = master
[submodule "bes"]
	path = bes
	url = https://github.com/OPENDAP/bes
	branch = master
; [submodule "hyrax-dependencies"]
; 	path = hyrax-dependencies
; 	url = https://github.com/OPENDAP/hyrax-dependencies
; 	branch = master
